Package: wings
Version: 1.11.8
Maintainer: Matthew Penner <matthew@pterodactyl.io> for the main program, ItzBenoitXD <amogus@stozu.net> for the package
Architecture: amd64
Homepage: https://pterodactyl.io
Description: The server control plane for Pterodactyl Panel.
